.assets
.env
*.pyc
dist/
build/
docs/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log

# Syncthing conflict and temporary files
*.sync-conflict-*
*.tmp
.syncthing.*
/cmds/
/dev/
/zz-*/

# Duplicate test artifacts
tests/test_nchantrs/
tests/test_nchantrs/
